@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  @font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src: url(/fonts/InterDisplay-roman.var.woff2) format('woff2');
  }
  */

  body {
    font-variation-settings: 'wght' 450;
  }

  /* Headings and Strong */

  h1 {
    font-variation-settings: 'wght' 650;
    letter-spacing: -0.02em;
    font-size: 1.6em !important;
    margin-bottom: 0.4em !important;
  }

  h2 {
    font-variation-settings: 'wght' 600;
    letter-spacing: -0.015em;
  }

  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: 'wght' 600;
  }

  b,
  strong {
    font-variation-settings: 'wght' 600;
  }

  /* Spacing above and under <480px */

  article {
    @apply ss:pb-16 ss:pt-8;
  }

  /* Article Main Font color */

  p,
  li {
    @apply text-p-light dark:text-gray-300;
  }

  blockquote {
    @apply dark:!border-l-zinc-600;
  }

  summary {
    cursor: pointer;
  }

  hr {
    @apply dark:!border-[#292c2d];
  }

  /* Link Styles */

  a,
  Link {
    text-underline-position: from-font;
    text-decoration-skip-ink: all;
    @apply font-medium underline decoration-dec-light decoration-from-font transition-opacity hover:opacity-70 dark:decoration-dec-dark !important;
  }

  a[data-footnote-ref] {
    text-decoration: none !important;
    padding: 0.2rem;
  }
}

/*=========================*/
/*       Antialiased       */
/*=========================*/

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    @apply antialiased;
  }
}

/*=========================*/
/*      Link Behavior      */
/*=========================*/

/* Selectable Tabs */

.nx-mb-8 .nx-flex a {
  @apply text-gray-600 dark:text-gray-100;
}

/* Current / Not selectable Tab */

.nx-mb-8 .nx-flex .nx-cursor-default {
  word-break: break-word;
  @apply text-inactive-nav-light dark:text-inactive-nav-dark;
}

/*=========================*/
/*        Post List        */
/*=========================*/

.font-variation-500 {
  font-variation-settings: 'wght' 500;
}

.date {
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1, 'tnum' 1, 'calt' 1;
}

/* !! Ugly Hack to Get Rid of Patches !! */

.post-item {
  display: none;
}

/*=========================*/
/*      Article Style      */
/*=========================*/

.nx-container {
  line-height: 1.6;
  word-spacing: -0.04em;
  max-width: 40rem;
}

html[class~='dark'] .md\:nx-prose {
  font-variation-settings: 'wght' 400;
}

article div.nx-mb-8.nx-flex.nx-items-center.nx-gap-3 {
  display: none;
}

article div div button,
[role='button'] {
  display: none;
}

/*=========================*/
/*      Warning Dialog     */
/*=========================*/

.button-leave {
  @apply bg-red-100 text-red-900 hover:bg-red-200  focus-visible:ring-red-500;
}

.button-enter {
  @apply bg-blue-100 text-blue-900 hover:bg-blue-200  focus-visible:ring-blue-500;
}

.button-warning-general {
  @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 font-mono text-xs font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
}
